ion-content{
    //--ion-background-color:#FFB6C1;
    --background:url(../../assets/images/CSM111.jpg)0 0/100% no-repeat;

}
h4{
    text-align:right;
    vertical-align: bottom;
    position: absolute;
    bottom: 8px;
   right:16px;

}
h2{
    text-align: center;
}

 